{% extends 'appitself/base.html' %}

{% block additionalLinks %} 
    <!-- LeafLet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
{% endblock additionalLinks %}

{% block body %} 

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <!-- Main Content -->
    <div class="row" style="display: flex; justify-content: center;">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light py-4 border p-4" style="border-radius: 10px;">
            <h2>New Point</h2>
            <div class="mb-3" style="height: 30px;"></div>
            <form id="point_form" method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    {{ new_point.name }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.street }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.longitude }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.latitude }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Point</button>
                </div>
            </form>
        </div>
        <!-- Main Map Area -->
        <div class="col-md-6">
            <div class="border p-4" style="border-radius: 10px; display: flex; justify-content: center;">
                <!-- Map content goes here -->
                <div id="Bishkek map" style="width: 600px; height: 450px"></div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block additionalScripts %} 
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../static/appitself/main.js"></script>
    <!-- LeafLet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
{% endblock additionalScripts %}