{% extends 'appitself/base.html' %}

{% block additionalLinks %} 
    <!-- LeafLet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
{% endblock additionalLinks %}

{% block body %} 

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <!-- Main Content -->
    <div class="row" style="display: flex; justify-content: center;">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light py-4 border p-4" style="border-radius: 10px;">
            <h2>New Point</h2>
            <div class="mb-3" style="height: 30px;"></div>
            <form id="point_form" method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    {{ new_point.name }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group d-flex align-items-center">
                    <div class="flex-grow-1">
                        {{ new_point.street }}
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="spinner-border spinner-border-sm text-success" role="status" id="loading-spinner"></div>
                        <svg class="bi flex-shrink-0 text-success" width="0" height="15" role="img" aria-label="Success:" id="success-icon"><use xlink:href="#check-circle-fill"/></svg>
                        <svg class="bi flex-shrink-0 text-danger" width="0" height="15" role="img" aria-label="Warning:" id="danger-icon"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    </div>
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.longitude }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.latitude }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Point</button>
                </div>
            </form>
        </div>
        <!-- Main Map Area -->
        <div class="col-md-6">
            <div class="border p-4" style="border-radius: 10px; display: flex; justify-content: center;">
                <!-- Map content goes here -->
                <div id="Bishkek map" style="width: 600px; height: 450px"></div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
{% endblock body %}

{% block additionalScripts %} 
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../static/appitself/main.js"></script>
    <!-- LeafLet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
{% endblock additionalScripts %}