{% extends 'appitself/base.html' %}

{% block body %} 

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <!-- Main Content -->
    <div class="row" style="display: flex; justify-content: center;">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light py-4 border p-4" style="border-radius: 10px;">
            <h2>New Point</h2>
            <div class="mb-3" style="height: 30px;"></div>
            <form id="point_form" method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    {{ new_point.name }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.street }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.longitude }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    {{ new_point.latitude }}
                </div>
                <div class="col-md-1" style="height: 15px;"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Point</button>
                </div>
            </form>
        </div>
        <!-- Main Map Area -->
        <div class="col-md-6">
            <div class="border p-4" style="border-radius: 10px; display: flex; justify-content: center;">
                <!-- Map content goes here -->
                <div id="Bishkek map" style="width: 600px; height: 450px"></div>
            </div>
        </div>
    </div>

{% endblock body %}