{% extends 'appitself/base.html' %}

{% block body %} 

    <!-- Main Content -->
    <div class="row" style="display: flex; justify-content: center;">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light py-4 border p-4" style="border-radius: 10px;">
            <h2>New Point</h2>
            <div class="mb-3" style="height: 30px;"></div>
            <form id="point_form" method="POST" >
                {% csrf_token %}
                <!--<div class="mb-3">
                    <label for="field1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="field1">
                </div>
                <div class="mb-3">
                    <label for="field2" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="field2">
                </div>
                <div class="mb-3">
                    <label for="field3" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="field3">
                </div>-->
                {{ test.as_p }}
                <button type="submit" class="btn btn-primary">Point</button>
            </form>
        </div>
        <!-- Main Map Area -->
        <div class="col-md-6">
            <div class="border p-4" style="border-radius: 10px; display: flex; justify-content: center;">
                <!-- Map content goes here -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187123.37243506077!2d74.4270508285638!3d42.8770084727063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6!5e0!3m2!1sru!2skg!4v1717350837424!5m2!1sru!2skg" width="600" height="450" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

{% endblock body %}