{% extends 'appitself/base.html' %}

{% block title %} List of Points {% endblock title %}

{% block body %} 

    {% for point in points %}
        {% if forloop.counter0|divisibleby:3 %} <div class="row"> {% endif %}
            <!-- Card -->
            <div class="card" style="width: 18rem; margin: auto;">
                <div class="card-body">
                <h5 class="card-title">{{ point.name }}</h5>
                <p class="card-text">
                    Street: {{ point.street }}
                </p>
                <p class="card-text">
                    Longitude: {{ point.longitude }}
                </p>
                <p class="card-text">
                    Latitude: {{ point.latitude }}
                </p>
                <p class="card-text">
                    ID: {{ point.pk }}
                </p>
                </div>
            </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %} </div> <hr> {% endif %}
    {% endfor %}

{% endblock body %}