{% extends 'appitself/base.html' %}

{% block title %} List of Points {% endblock title %}

{% block body %} 

    <div class="container">
        <div class="row justify-content-center">
            <div class="container text-center">
                <h2>All Points</h2>
            </div>
            <div class="col-md-8 bg-light py-4 border p-4" style="border-radius: 24px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Street</th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Latitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for point in points %}
                            <tr>
                                <th scope="row">{{ point.pk }}</th>
                                <td>{{ point.name }}</td>
                                <td>{{ point.street }}</td>
                                <td>{{ point.longitude }}</td>
                                <td>{{ point.latitude }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}